.post {
  display: grid;
  grid-template-rows: 240px 1fr;
  gap: 0px;
  margin-bottom: 20px;
}



@media (min-width: 640px) {
  .post {
    display: grid;
    /* align-items: center; */
    grid-template-rows: 250px 1fr;
    gap: 0px;
    margin-bottom: 20px;
  }

}

@media (min-width: 768px) {
  .post {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 250px 1fr;
    gap: 25px;
  }
}